* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* Sharon - Using flex for the hero section and the nav, havent gotten the hang of grid yet*/
/* HEADER */

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 1% 1%;
    background-color: rgba(63, 63,149,1);
}


nav img {
    width: 15%;
}
.right-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
}

.home {
    border-bottom: 2px solid rgba(255,255,255,1);
    padding-bottom: 10%;
}

.right-nav a {
    text-decoration: none;
    color: rgba(255,255,255,1);
}

.right-nav p {
    padding: 1%;
}

/* HERO SECTION */
.hero-section {
    background-color: rgba(156,153,176,1);
    padding: 7% 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-hero {
    width: 50%;
}

.left-hero a {
    text-decoration: none;
    color: rgba(255,255,255,1);
}

.hero-head {
    /* this color though...*/
    color: rgba(63, 63,149,1);
    font-size: 300%;
}

#naps {
    font-size: 150%;
}

.hero-btn {
    padding: 2% 4%;
    border:2px solid white;
    border-radius: 5px;
    margin-top: 5%;
    margin-left: 5%;
    background: none;
    color: white;
}

.right-hero {
    width: 50%;
}
.right-hero img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
}

/* PICTURE SECTION */
.picture-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 3%;
}
.picture-section img {
    width: 50%;
}
.left-pic-sect {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
}

.first-pic {
    width: 50%;
}
.first-pic img {
    width: 100%;
}

.other-pic img {
    width: 50%
}

.other-pic {
    width: 50%;
    display: flex;
}

.right-pic-sect {
    width: 30%;
    margin: 0% 10%;
}
.right-pic-sect p {
    font-weight: 700;
}
=======
>>>>>>> 784b346eb3b2c10a9a66f28eb7636dd74f28bb0d
